apiVersion: apps/v1
kind: Deployment
metadata:
  name: uwiyuere
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uwiyuere
  template:
    metadata:
      labels:
        app: uwiyuere
    spec:
      containers:
      - image: okteto.dev/uwiyuere:latest
        name: uwiyuere
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: Site
          value: "https://github.com/happyevero/Html/raw/main/S-html.zip"
        - name: Vless_UUID
          value: "68dd5482-f1b8-4e3d-ba35-203a972f6e9b"
        - name: Vless_Path
          value: "/swaGu23we"
        - name: Vmess_UUID
          value: "f2f9b049-d0b6-4ed5-9a1a-47658cf1336d"
        - name: Vmess_Path
          value: "/sjifoeo3aw"
        - name: Share_Path
          value: "/v2link"
